imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        Behat\MinkExtension:
            base_url: "http://localhost:8081/"
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                # Reached only by scenarios tagged @javascript. Everything else keeps
                # running on the kernel session, which is faster and needs no browser.
                chrome:
                    chrome:
                        api_url: "http://chrome:9222"
                        validate_certificate: false
            show_auto: false # do not automatically open browser on error

        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\ThreeBRS\SyliusEnterpriseSecurityPlugin\Kernel

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
